* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #f0e8f7;
  --purple: #bb99dd;
  --color-text: #bb99dd;
}

body {
  background: var(--body-bg-color);
  color: var(--color-text);
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

#container {
  width: 100%;
  margin: 120px auto 0;
  border: 1px solid red;
  max-width: 414px;
  padding: 0 44px;
}

#profile {
  text-align: center;
  padding: 24px 24px 0;
}

#profile img {
  width: 213px;
  border-image-outset: 22rem;
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--purple);
}

#profile p {
  padding-top: 15px;
  font-weight: 500;
  line-height: 24px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 33px 0 68px;
}

ul li a {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 326px;
  height: 49px;
  border: 2px solid var(--purple);
  border-radius: 4px;
}
